<!DOCTYPE html>
<html class="full">
<head>
	<title>Learn History</title>
	<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  
  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
          

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="assets/stylemenu.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
  
  $(document).ready(function(){    
    //Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1){
        // Set the URL to whatever it was plus "#".
        url = document.URL+"#";
        location = "#";

        //Reload the page
        location.reload(true);
    }
});



</script>


</head>
<body class="full">



<div class='outer-scratch'>  
<div class="inner-scratch">    
<div class="background1 grain">

  
</br>
</br>
</br>
 
   
<div class="row">
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
        <div class="borderimg2">
          <img src="assets/antiq.jpeg" height="200px"></div>
          <span class="card-title">Antiquity</span>
          <a class="btn-floating halfway-fab waves-effect waves-light deep-purple pulse" href="lh/map_antiq"><i class="material-icons">info_outline</i></a>
        </div>
        <div class="card-content center">
          <p>Classical antiquity is a term for a long period of cultural history centered on the Mediterranean Sea, comprising the interlocking civilizations of ancient Greece and ancient Rome, collectively known as the Greco-Roman world. Press the "i" pulseing button for more.</p>
        </div>
      </div>
      </div>
      <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
        <div class="borderimg2">
          <img src="assets/medieval.jpg" height="200px"></div>
          <span class="card-title">Middle Ages</span>
          <a class="btn-floating halfway-fab waves-effect waves-light deep-purple pulse" href="lh/map_med"><i class="material-icons">info_outline</i></a>
        </div>
        <div class="card-content center">
          <p>In the history of Europe, the Middle Ages lasted from the 5th to the 15th century. It began with the fall of the Western Roman Empire and merged into the Renaissance and the Age of Discovery. Press the "i" pulseing button for more.</p>
        </div>
      </div>
      </div>
      <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
        <div class="borderimg2">
          <img src="assets/renas.jpg" height="200px"></div>
          <span class="card-title">Renaissance</span>
          <a class="btn-floating halfway-fab waves-effect waves-light deep-purple pulse" href="lh/map_ren"><i class="material-icons">info_outline</i></a>
        </div>
        <div class="card-content center">
          <p>The Renaissance was a period in European history regarded as the cultural bridge between the Middle Ages and modern history. It started as a cultural movement in Italy in the Late Medieval period. Press the "i" pulseing button for more.</p>
        </div>
      </div>
      </div>
      <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
        <div class="borderimg2">
          <img src="assets/modern.jpg" height="200px"></div>

          <span class="card-title">Modern History</span>
          <a class="btn-floating halfway-fab waves-effect waves-light deep-purple pulse" href="lh/map"><i class="material-icons">info_outline</i></a>
        </div>
        <div class="card-content center">
          <p>The modern period was a period of significant development in science, politics, warfare and technology. During this time, the European powers began a political, economic and cultural colonization of the rest of the world. Press the "i" button for more.</p>
        </div>
      </div>
      </div>
    
  </div>


  

     </div>  
     </div>
     </div>









<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="http://davidlynch.org/projects/maphilight/jquery.maphilight.js"></script>
<script type="text/javascript" src="assets/materialize.js"></script>


</body>
</html>