<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" type="text/css" href="assets/styleharta.css">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="assets/materialize.css"  media="screen,projection"/>
  <!-- Compiled and minified JavaScript -->
 <link rel="stylesheet" type="text/css" href="assets/stylemap.css">
 

 




</head>
  
<body>




<img src="http://i.imgur.com/bbgXXTY.jpg" width="1600px" height="800px">










<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large cyan pulse">
      <i class="large material-icons">dashboard</i>
    </a>
    <ul>
      <li><a class="btn-floating red" href="http://localhost:3000"><i class="material-icons">reply</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      
    </ul>
  </div>















<script type="text/javascript" src="assets/materialize.js"></script>

<script type="text/javascript" src="http://davidlynch.org/projects/maphilight/jquery.maphilight.js"></script>
<script type="text/javascript" src="assets/styleharta.js"></script>

</body>
</html>