<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Landing page</h1>

<a href="/users/sign_up" id="download-button" class="btn-large waves-effect waves-light indigo darken-4">Sign Up</a>

<a href="/users/sign_in" id="download-button" class="btn-large waves-effect waves-light indigo darken-4">Log In</a>







</body>
</html>